$primary: rgb(29, 29, 29);
$primarydark: rgb(18, 18, 18);
$secondary: rgb(237, 86, 21);
$secondarydark: rgb(197, 72, 18);
$tertiary: #fff;
$first: grey;
$second: rgb(185, 101, 90);
$third: rgb(145, 91, 84);
$forth:rgb(130, 191, 193);
